<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="web4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
	
    <globalization culture="en-US" uiCulture="en-US" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies></assemblies>
    </compilation>
	  <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=20.4450.0.44, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <pages>
      <namespaces>
        <add namespace="Syncfusion.MVC.EJ " />
        <add namespace="Syncfusion.JavaScript " />
        <add namespace="Syncfusion.JavaScript.Mobile " />
      </namespaces>
    </pages>
	
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:Default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="Model.edmx" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=web4.Models.Model.edmx;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="B7_OPCEntities1 (web4)" connectionString="XpoProvider=MSSqlServer;data source=118.69.225.144;user id=;password=Hai@thong;initial catalog=B7_OPC;Persist Security Info=true" />
    <add name="Model1" connectionString="data source=118.69.225.144;initial catalog=B7_OPC;persist security info=True;user id=sa;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="B7_OPCEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.225.144;initial catalog=B7_OPC;persist security info=True;user id=sa;password=Hai@thong;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="B7_OPCEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.225.144;initial catalog=B7_OPC;persist security info=True;user id=sa;password=Hai@thong;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="B7_OPCEntities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.225.144;initial catalog=B7_OPC;persist security info=True;user id=sa;password=Hai@thong;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAP_OPCEntities" connectionString="metadata=res://*/Models.MauInChungTu.csdl|res://*/Models.MauInChungTu.ssdl|res://*/Models.MauInChungTu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.109.109;initial catalog=SAP_OPC;persist security info=True;user id=sa;password=Hai@thong;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAP_OPCEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.109.109;initial catalog=SAP_OPC;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAP_OPCEntities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.109.109;initial catalog=SAP_OPC;user id=sa;password=Hai@thong;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAP_OPCEntities3" connectionString="metadata=res://*/Models.Detail.csdl|res://*/Models.Detail.ssdl|res://*/Models.Detail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.109.109;initial catalog=SAP_OPC;persist security info=True;user id=sa;password=Hai@thong;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SAP_OPCEntities4" connectionString="metadata=res://*/Models.TheoDoiGiaoHang.csdl|res://*/Models.TheoDoiGiaoHang.ssdl|res://*/Models.TheoDoiGiaoHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.69.109.109;initial catalog=SAP_OPC;user id=sa;password=Hai@thong;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <web4.Properties.Settings>
      <setting name="ma_dvcs" serializeAs="String">
        <value />
      </setting>
      <setting name="From_date" serializeAs="String">
        <value />
      </setting>
      <setting name="To_Date" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SoCt" serializeAs="String">
        <value />
      </setting>
      <setting name="Ngay" serializeAs="String">
        <value />
      </setting>
      <setting name="Thang" serializeAs="String">
        <value />
      </setting>
      <setting name="Nam" serializeAs="String">
        <value />
      </setting>
      <setting name="Ten_Dt" serializeAs="String">
        <value />
      </setting>
      <setting name="Dia_Chi" serializeAs="String">
        <value />
      </setting>
      <setting name="Dvcs" serializeAs="String">
        <value />
      </setting>
      <setting name="Dvcs1" serializeAs="String">
        <value />
      </setting>
      <setting name="Ma_TDV" serializeAs="String">
        <value />
      </setting>
      <setting name="Ngay_TT" serializeAs="String">
        <value />
      </setting>
      <setting name="Ma_DvCs_2" serializeAs="String">
        <value />
      </setting>
      <setting name="Ten_Vt" serializeAs="String">
        <value />
      </setting>
      <setting name="CTVid" serializeAs="String">
        <value />
      </setting>
      <setting name="Ten_NVGH" serializeAs="String">
        <value />
      </setting>
      <setting name="STT" serializeAs="String">
        <value />
      </setting>
      <setting name="NV_GiaoHang" serializeAs="String">
        <value />
      </setting>
      <setting name="Option_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Option_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ma_NVGH" serializeAs="String">
        <value />
      </setting>
      <setting name="Ten_NVPhuKho" serializeAs="String">
        <value />
      </setting>
    </web4.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=20.4450.0.44, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1073741824" />
		  </requestFiltering>
	  </security>
  </system.webServer>
</configuration>