<!DOCTYPE html>
<html lang="en">

<head>
    <title>Báo Cáo OPC</title>
    <link rel="stylesheet" href="Styles/jquery-ui.css" />
    <!-- //Calendar -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="Styles/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/assets/images/Logo.png" rel="icon">
    <link href="~/assets/images/Logo.png" rel="apple-touch-icon">
    <link href="Styles/style3.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="//fonts.googleapis.com/css?family=Cuprum:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body>
    <h1 class="header-w3ls">
        Công Ty Cổ Phần Dược Phẩm OPC
    </h1>
    <div class="icon-stu">

        <h2 class="student-w3l">Báo Cáo Số Liệu</h2>
        <div class="stude-user-wls">
            <div class="clear"> </div>
        </div>
        <div class="row-col">
            <div class="banner-agileits-btm">
                <div class="w3layouts_more-buttn">
                    <a href="/Home/Login" onclick="deleteTab()">Xem</a>
                </div>
            </div>

        </div>
    </div>
    <script type='text/javascript' src='Scripts/jquery-2.2.3.min.js'></script>

    <!--scripts-->
    <script>
        // ham xu ly dang nhap va xoa mang tabArray
        function deleteTab() {
            // Làm rỗng mảng tabArray
            const tabArray = JSON.parse(localStorage.getItem("tabsArray")) || [];
            tabArray.length = 0;
            localStorage.setItem("tabsArray", JSON.stringify(tabArray));

           
        }

    </script>

</body>
</html> 